appdirs==1.4.4
beautifulsoup4==4.6.0
bitstring==3.1.7
certifi==2018.4.16
cffi==1.14.5
chardet==3.0.4
click==6.7
cryptography==3.4.7
distlib==0.3.1
Django==2.1.1
ecdsa==0.17.0
esptool==3.1
filelock==3.0.12
Flask==1.0.1
gunicorn==20.1.0
idna==2.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.1.1
passlib==1.7.4
pbr==5.6.0
peewee==3.14.4
psycopg2==2.8.6
psycopg2-binary==2.8.6
pycparser==2.20
pyserial==3.5
pytz==2021.1
reedsolo==1.5.4
requests==2.18.4
six==1.15.0
soupsieve==2.2.1
stevedore==3.3.0
touch==2020.12.3
urllib3==1.22
values==2020.12.3
virtualenv==20.4.4
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
Werkzeug==0.14.1
Wrapper==1.1.0b1
